		.owl-theme .owl-controls .owl-page span {
		    background: #FFF !important;
		}

		#owl-demo-1 h3.h3_home
		{
			margin-left: 15px;
		    margin-right: 15px;
		    text-shadow: 1px 1px 2px black;
		    font-weight: bolder
		}

		img[src*='logo']{
			max-width: 100%;
			width: 40%;

		}

		.intro-header{
			background: url(img/fundo.jpg) no-repeat;
			background-position: top center;
			background-size: 100%;
			padding-top: 30px;

		}
		.telaLogin{

			background-color: #000000;
			
		}
		


